<!-- views/pages/merchandise.ejs -->
<!DOCTYPE html>
<html lang="de">

<head>
    <% include ../pages/head %>
</head>


<body class="container">
    <% include ../pages/background %>

        <header>
            <% include ../pages/header %>
        </header>

        <main class="main-container">
            <div class="jumbotron">
                <h1>Generation 19xx</h1>
                <p>....</p>
            </div>
        </main>

        <footer>
            <% include ../pages/footer %>
        </footer>

</body>

</html>