<!-- views/partials/footer.ejs -->

<link type="css" src="/resources/css/index.css">

<div class="footer">
    <ul>
        <li>
            <a class="text-center text-muted">AGB</a>
        </li>
        <li>
            <a class="text-center text-muted">Impressum</p>
        </li>
        <li>
            <p class="text-center text-muted">Kontakt</p>
        </li>
        <li>
            <a class="text-center text-muted">© Copyright 2017 The Awesome People</a>
        </li>
    </ul>

</div>