<!-- views/partials/header.ejs  -->

<link type="css" src="/resources/css/index.css">

<nav id="navbar" class="navbar navbar-default" role="navigation">

    <ul id="navbar" class="nav navbar-nav">
        <li><a data-view="1" href="/"><img src="/resources/images/logo/450er_Logo_schwarz_klein_v3.png" alt="450" ></a></li>
        <li id="menu-reiter"><a data-view="2" href="/music">Musik</a></li>
        <li id="menu-reiter"><a data-view="3" href="/video">Video</a></li>
        <li id="menu-reiter"><a data-view="4" href="/about">Über uns</a></li>
    </ul>

</nav>